@import "sanitize.css";

html {
    background: hsl(40, 36%, 98%);
    color: hsl(45, 36%, 2%);
}

body {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

li:not(:first-child) {
    margin-top: 0.5em;
}
