<%
const configs = {
  title: 'top',
  description: 'This is top page',
  styles: ['index.css'],
  scripts: ['index.js'],
  metaImage: 'https://dummyimage.com/600x400/333/ddd.png&text=Dummy+image',
};
%>

<!DOCTYPE html>
<html lang="<%= lang %>">
<%- include('common/_head.ejs', { ...configs }) %>
<body>
    <h1>
        2018/09/08 イメージエフェクターとして使うPixiJS サンプル集
    </h1>
    <main id="main" class="Main" role="main">
        <ol>
            <li><a href="01.html">画像読み込んで表示するだけ</a></li>
            <li><a href="02.html">サイズ調整: <code>background-position: cover;</code>とおなじことをやる</a></li>
            <li><a href="03.html">フィルタを適当にかけてみる</a></li>
            <li><a href="04.html">フィルタのパラメータをスクロール位置の値を拾ってかけてみる</a></li>
            <li><a href="05.html">一枚の画像をスライスしてみる</a></li>
            <li><a href="06.html">マスク処理</a></li>
            <li><a href="07.html">グリッチ</a></li>
            <li><a href="extra.html">ページまるごとグリッチ</a></li>
        </ol>
    </main>
    <%- include('common/_foot.ejs', { ...configs }) %>
</body>
</html>
